<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      lang="en" data-namespace-typo3-fluid="true">
<head>
    <meta charset="utf-8">
    <title>Template: Example</title>
</head>
<body>

<f:layout name="ConversionsLayout"/>

<f:section name="Main">
    <f:alias map="{url : '{f:uri.page(pageUid: \'{data.pid}\', absolute: \'true\')}'}">
        Add Share Buttons here<br/>
        Link to current page: {url}
    </f:alias>
</f:section>

</body>
